h1,
h2,
form,
i,
h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
h2,
h3 {
  text-transform: capitalize;
}
h1 {
  padding: 20px 0;
  line-height: 15px;
  font-size: 20px;
  padding: 5px;
}
h2 {
  line-height: 50px;
}

hr {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-top: 3px double #8c8b8b;
}
.container {
  border: 2px solid #dbd8d8;
  box-shadow: 9px 9px 5px #dbd8d8;
}
.weather-box {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.search-city {
  margin: 0 auto;
  text-align: center;
}
.sun-cloud {
  font-size: 100px;
}
.currently {
  font-size: 15px;
  line-height: 25px;
}
.temperature {
  font-size: 40px;
}
.weather-details {
  font-size: 15px;
  text-decoration: none;
}
.celsius-switch {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  right: 50%;
}
.git-hub-link {
  display: block;
  margin: 0 auto;
  text-align: center;
}
